/* 이서윤체 폰트 적용을 위한 코드 */
@font-face {
    font-family: "LeeSeoyun";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  /* body태그 자체에 css 요소 부여 */
  body {
    font-family: "LeeSeoyun";
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url(https://th.bing.com/th/id/OIP.ZpN9hVpTe_al-JiDFB8kzQHaEo?w=246&h=180&c=7&r=0&o=5&pid=1.7);
    
  }

  .container {
    width: 390px;
    background-color: #ff9d73;/*프레임 색깔 설정*/
    height: 100%;
  }

  .photos {
    margin-top: 30px;
  }

  .photo-frame {
    background-color: rgb(255, 255, 255);
    margin: 15px 20px;
    height: 200px;
    background-size: cover;
    position: relative;
  }

  /* 하단 영역 스타일링 */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .f-title {
    font-size: 25px;
    font-weight: 900;
    color: white;
  }
  .f-date {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }

  #image1 {
    background-image: url("./img1.png");
    background-position: unset;
    background-repeat: no-repeat;
  }

  #image2 {
    background-image: url("./img2.png");
    background-position: unset;
    background-repeat: no-repeat;
  }

  #image3 {
    background-image: url("./img3.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  #image4 {
    background-image: url("./img4.png");
    background-position: center;
    background-repeat: no-repeat;
  }
 .photo-frame img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    display: block;
    background-size: cover;
    }
  .photo-description {
    color: white;
    background-color: black;
    width: fit-content;
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    transform: translate(-50%);
    left: 50%;
  }